.tukey-chart .label {
  font-size: 18px;
  fill: #555555; /* table-gray */
}

.tukey-chart .tick-text {
  font-size: 15px;
  color: #555555; /* table-gray */
}

.chart-tooltip {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, calc(-100% - 20px));
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 20px;
  z-index: 999;
}
